<<<<<<< HEAD
= render 'items/header_sub'
.userMain
  .userForm
      .userForm__header
        %h1
          会員登録完了
      .userForm__group
        ありがとうございます。
        会員登録が完了しました。
      .userForm__btn
        .userForm__btn--red
          = link_to "Furimaをはじめる", root_path
= render 'items/footer_sub'

