.js_delete_modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  &__bg{
    background: rgba(0,0,0,0.3);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  &__content{
    background: #fff;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 40%;
    height: 40%;;
    text-align: center;
    border-radius: 6px;
    &--text{
      box-sizing: border-box;
      padding: 60px;
      height: 75%;
      width: 100%;
      .js_delete_title{
        font-size: 20px;
        margin-top: 10px;
      }
      .js_delete_explanation{
        font-size: 15px;
        margin-top: 10px;
      }
    }
    
    .js_delete_select{
      width: 100%;
      height: 25%;
      display: flex;
      text-align: center;
      .select__cansel{
        width: 50%;
        height: 100%;
        border-top: rgb(212, 210, 210) solid 1px;
        border-right: rgb(212, 210, 210) solid 1px;
        transition: all 0.3s ease 0s;
        a.js_cancel_btn{
          text-decoration: none;
          color: black;
          height: 100%;
          width: 100%;
          display: block;  
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .select__delete{
        width: 50%;
        border-top: rgb(212, 210, 210) solid 1px;
        border-left: rgb(212, 210, 210) solid 1px;;
        transition: all 0.3s ease 0s;
        a.js_card_delete_btn{
          text-decoration: none; 
          color: black;
          display: block;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

// ホバーアクション
.select__cansel:hover{
  opacity: 0.6;
}

.select__delete:hover{
  opacity: 0.6;
}