.form{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(245, 244, 242, 0.893);

}

  .name{
  
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
  
  }
  .image{
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
    padding-bottom: 200px;
    background-color: gray;
  }
  .price{
  
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
  }
  .categoly_id{
  
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
  }
  .description{
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
  }
  .brand{
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
  }
  .item_condition{
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
  }
  .shipping_payer{
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;

  }
  .shipping_from_area{
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
  }
  .shipping_duration{
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
  } 

  .number_field{
    margin-top: 20px;
    text-align: start;
    padding-left: 30%;
  }

    span.label{
      margin-right: 10px;;
      margin-bottom: 10px;
     }
     span.needs{
       font-size: 10px;
       color: red;
     }
     span.not_needs{
       font-size: 10px;
       color: gray;
     }

  .submit_btn{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
  } 