.header{
  width: 100%;
  height: 100px;
  margin-top: 20px;
  .headerMain{
    display: flex;
    justify-content: center;
    align-items: center;
    .headerMain__mainIcon{     
      margin-right: 40px;
    }
    .headerMain__search{
      width: 800px;   
      form.formArea{       
        height: 35px;
        input[type="text"]{
        width: 70%;
        height: 35px;
        }
      }  
      .searchBtnImage{
        background-color: $greenColor;
        padding: 5px;
        position: absolute;
        top: 28px;
      }
    }
  }
  .headerList{
    height: 20px;
    width: 70vw;
    margin: 0 auto;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    .headerList__left{
      display: flex;
      float: left;
      .li.headerList__left--brand{
        padding-left: 50px;
      }
    }
    .headerList__right{
      display: flex;
      float: right;
      .userLink--left{
        text-decoration: none;
        color: black;
      }
      .userLink--right{
        text-decoration: none;
        padding-left: 50px;
        color: black;
      }
    }
  }
}