.l-side{
  float: left;
  width: 180px;
  margin: 0 40px 0 0;
  .breadcrumb{
    font-size: 12px;
    margin-bottom: 10px;
  }
  .mypage-nav{
    &-head{
      margin: 10px 0 0;
    }
    &-list{
      &-item{
        position: relative;
        display: block;
        min-height: 48px;
        padding: 16px;
        background: #eee;
        font-size: 14px;
        color: #333;
        text-decoration: none;
      }
      &-item:hover {
        background:#3CCACE;
        color: white;
      }
    }
  }
}