.l-content{
  margin-top: 10px;
  float: right;
  width: 800px;

  
  .mypage-main{
    background-color: #eee;
    margin-bottom: 20px;
    &-head{
      width: 100%;
      height: 60px;
      line-height: 60px;
      text-align: center;
      font-size: 25px;
      color: #3CCACE;
    }
    &-moreBtn{
      text-align: center;
      .mypage-btn{
        color: black;
        text-decoration: none;
      }
    }
    &-moreBtn:hover{
      opacity: 0.6;
    }
    &-list{
      display: flex;
      justify-content: center;
      padding-left:25px;
      &__products--data{
        box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        width: 200px;
        height: 250px;
        background-color: white;
        padding: 10px 10px 0 10px;
        margin-right: 25px;
        margin-bottom: 30px;
        text-decoration: none;
        color: black;
        cursor: pointer;
        transition: all 0.3s 
      }
    }
    &-nillist{
      font-size:30px ;
      padding-top: 20px;
      padding-bottom: 60px;
    }
  }
}  

