.pagination{
  margin: 50px 0 ;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-size: 20px;
}
.pagination span{
  text-align: center;
  width: 50px;
  border: solid 1px #e5e8ec;
  border-radius: 5px;
  color: rgb(197, 20, 159);
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
}
span.prev{
  margin-right: 50px;
}
span.next{
  margin-left: 50px;
}

span a{
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.pagination span:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.pagination span a:hover{
  transition: .3s;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}