.footerContents
  .footerContents__top
    %p.footerContents__top--cell
      プライバシーポリシー
    %p.footerContents__top--cell
      フリマ規約
    %p.footerContents__top--cell
      特定商取引に関する表記
  .footerContents__logo
    = image_tag 'material/logo/logo.png', class: "mainIcon",  size: "180x55"
    %p.footerContents__logo--cell
      ©︎Furima,Inc.
