.footer_contents
  .footer_contents_top_box
    .footer_contents_top_box_pri
      プライバシーポリシー
    .footer_contents_top_box_terms
      フリマ規約
    .footer_contents_top_box_notice
      特定商取引に関する表記
  .footer_contents_logo
    = image_tag 'material/logo/logo.png', class: "mainIcon",  size: "180x55"
  .footer_contents_bottom
    ©︎Furima,Inc.
