.item_form
  = form_for [@item],html: { multipart: true } do |f|
    #h1.item_form_image
      #h2.item_form_top_info
        .item_form_label 商品画像
        .item_form_needs 必須
      .post__drop__box__container
        .prev-content
        .label-content
          %label{for: "item_images_attributes_0_image", class: "label-box", id: "label-box--0"}
            %pre.label-box__text-visible クリックしてファイルをアップロード
        .hidden-content
          = f.fields_for :images do |i|
            = i.file_field :image, class: "hidden-field"
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
            %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }