%h2 新規投稿商品

-# = @items.price

-# - @items.images.each do |item|
-#   = item.price
-#   = item.images



-# - @items.first(6).each do |item|
-#   = image_tag item.images.image.url
-#   = item.name
-#   = item.price