.form{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(245, 244, 242, 0.893);

}

.name{
  
  margin-top: 20px;
  
}
.image{
  margin-top: 20px;
  margin-bottom: 20px;
 
  
}
.price{
  
  margin-top: 20px;
  margin-bottom: 20px;
}
.categoly_id{
  
  margin-top: 20px;
  margin-bottom: 20px;
}
.description{
  margin-top: 20px;
  margin-bottom: 20px;
}
.brand{
  margin-top: 20px;
  margin-bottom: 20px;
}
.item_condition{
  margin-top: 20px;
  margin-bottom: 20px;
}
.shipping_payer{
  margin-top: 20px;
  margin-bottom: 20px;
}
.shipping_from_area{
  margin-top: 20px;
  margin-bottom: 20px;
}
.shipping_duration{
  margin-top: 20px;
  margin-bottom: 20px;
}

.number_field{
  margin-top: 20px;
  margin-bottom: 20px;
}

.label{
  text-align: center;
  margin-right: 150px;;
  margin-bottom: 10px;
}

.submit_btn{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

}