.wrapper{
  background-color: rgb(242, 242, 242);
  width: 100%;
  margin: auto;
  height: 100%;
}
  .headder{
    width: 100%;
    .icon{
      width: 200px;
      height: 120px;
      position: relative;
      top: 30px;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }
  }
  .form{
    margin-left: 10%;
    margin-right: 10%;
    background-color: white;
  }